

.card {
  width: 70%;
  margin-top: 2.5px;
  border: solid skyblue 2px;
  .card-header{
    font-size: 1rem;
    text-align: right;
  }
  .card-body{
    padding: 10px 7px;
    .card-title{
      font-size: 1.5rem;
    }
    .card-text{
  
    }
  }
  
}
